In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('data/economic/inflation_full.csv')

In [3]:
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023'],
      dtype='object')

In [4]:
df = df.melt(id_vars = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
             var_name = 'year', value_name = 'cpi_value')

In [5]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,year,cpi_value
0,Aruba,ABW,Consumer price index (2010 = 100),FP.CPI.TOTL,1960,NaN
1,Africa Eastern and Southern,AFE,Consumer price index (2010 = 100),FP.CPI.TOTL,1960,NaN
2,Afghanistan,AFG,Consumer price index (2010 = 100),FP.CPI.TOTL,1960,NaN
3,Africa Western and Central,AFW,Consumer price index (2010 = 100),FP.CPI.TOTL,1960,NaN
4,Angola,AGO,Consumer price index (2010 = 100),FP.CPI.TOTL,1960,NaN
...,...,...,...,...,...,...
17019,Kosovo,XKX,Consumer price index (2010 = 100),FP.CPI.TOTL,2023,143.171601
17020,"Yemen, Rep.",YEM,Consumer price index (2010 = 100),FP.CPI.TOTL,2023,NaN
17021,South Africa,ZAF,Consumer price index (2010 = 100),FP.CPI.TOTL,2023,194.839466
17022,Zambia,ZMB,Consumer price index (2010 = 100),FP.CPI.TOTL,2023,369.000077
17023,Zimbabwe,ZWE,Consumer price index (2010 = 100),FP.CPI.TOTL,2023,NaN

In [6]:
df = df[['Country Name','Country Code', 'year', 'cpi_value']]
df.columns = ['country_name', 'country_code', 'year', 'cpi_value']

In [7]:
df

                      country_name country_code  year   cpi_value
0                            Aruba          ABW  1960         NaN
1      Africa Eastern and Southern          AFE  1960         NaN
2                      Afghanistan          AFG  1960         NaN
3       Africa Western and Central          AFW  1960         NaN
4                           Angola          AGO  1960         NaN
...                            ...          ...   ...         ...
17019                       Kosovo          XKX  2023  143.171601
17020                  Yemen, Rep.          YEM  2023         NaN
17021                 South Africa          ZAF  2023  194.839466
17022                       Zambia          ZMB  2023  369.000077
17023                     Zimbabwe          ZWE  2023         NaN

[17024 rows x 4 columns]

In [8]:
df.to_csv('data/economic/inflation_all_countries_sorted_cleaned.csv', index = False)

In [9]:
nas_per_country = df.groupby('country_name').apply(lambda x: x.isna().sum())

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_21512\848927349.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  nas_per_country = df.groupby('country_name').apply(lambda x: x.isna().sum())

In [10]:
nas_per_country[nas_per_country['country_code'] == 'SOM']

Empty DataFrame
Columns: [country_name, country_code, year, cpi_value]
Index: []