In [1]:
import pandas as pd

In [2]:
#Step 1: Load the full dataset
migration_data = pd.read_csv('data/migration/full_iom_dtm_data.csv')

migration_data

,id,operation,admin0Name,admin0Pcode,admin1Name,admin1Pcode,admin2Name,admin2Pcode,adminLevel,numPresentIdpInd,reportingDate,yearReportingDate,monthReportingDate,roundNumber,assessmentType,operationStatus
0,259629,Returns and displacement in Afghanistan,Afghanistan,AFG,NaN,NaN,NaN,NaN,0,246362,2017-03-30T00:00:00,2017,3,1,BA,Active
1,259630,Returns and displacement in Afghanistan,Afghanistan,AFG,NaN,NaN,NaN,NaN,0,945182,2017-06-30T00:00:00,2017,6,2,BA,Active
2,259631,Returns and displacement in Afghanistan,Afghanistan,AFG,NaN,NaN,NaN,NaN,0,1728157,2017-12-31T00:00:00,2017,12,3,BA,Active
3,259632,Returns and displacement in Afghanistan,Afghanistan,AFG,NaN,NaN,NaN,NaN,0,1843833,2018-03-30T00:00:00,2018,3,4,BA,Active
4,259633,Returns and displacement in Afghanistan,Afghanistan,AFG,NaN,NaN,NaN,NaN,0,1866925,2018-06-30T00:00:00,2018,6,5,BA,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71948,14050855,Drought Response in Southern Africa,Zimbabwe,ZWE,Midlands,ZW17,Gokwe South,ZW1703,2,150,2024-12-31T00:00:00,2024,12,1,BA,Active
71949,14050856,Drought Response in Southern Africa,Zimbabwe,ZWE,Midlands,ZW17,Kwekwe,ZW1705,2,4569,2024-12-31T00:00:00,2024,12,1,BA,Active
71950,14050857,Drought Response in Southern Africa,Zimbabwe,ZWE,Midlands,ZW17,Mberengwa,ZW1706,2,841,2024-12-31T00:00:00,2024,12,1,BA,Active
71951,14050858,Drought Response in Southern Africa,Zimbabwe,ZWE,Midlands,ZW17,Shurugwi,ZW1707,2,1222,2024-12-31T00:00:00,2024,12,1,BA,Active
71952,14050859,Drought Response in Southern Africa,Zimbabwe,ZWE,Midlands,ZW17,Zvishavane,ZW1708,2,955,2024-12-31T00:00:00,2024,12,1,BA,Active

In [3]:
migration_data.admin0Name.unique()

array(['Afghanistan', 'Antigua and Barbuda', 'Bahamas (the)', 'Benin',
       'Bolivia (Plurinational State of)', 'Burkina Faso', 'Burundi',
       'Cameroon', 'Central African Republic', 'Chad',
       'Democratic Republic of the Congo',
       'Democratic Republic of The Congo', 'Djibouti', 'Dominica',
       'Ecuador', 'El Salvador', 'Ethiopia', 'Fiji', 'Grenada',
       'Guatemala', 'Haiti', 'Honduras', 'Indonesia', 'Iraq', 'Kenya',
       "Lao People's Democratic Republic", 'Lebanon', 'Libya',
       'Madagascar', 'Malawi', 'Mali', 'Mongolia', 'Mozambique', 'Nepal',
       'Niger', 'Nigeria', 'Pakistan', 'Papua New Guinea', 'Peru',
       'Philippines (the)', 'Republic of Armenia',
       'Saint Vincent and the Grenadines', 'Somalia', 'South Africa',
       'South Sudan', 'Sri Lanka', 'Sri lanka', 'Sudan',
       'Syrian Arab Republic', 'Uganda', 'Ukraine', 'Vanuatu', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [4]:
migration_data['date'] = pd.to_datetime(migration_data['reportingDate'])
migration_data['month'] = migration_data['date'].dt.month
migration_data['year'] = migration_data['date'].dt.year

In [5]:
#keep data between 2020 and 2025
#df_filtered = migration_data[(migration_data['year'] >= 2020) & (migration_data['year'] <= 2025)]

In [6]:
# Define a more descriptive column mapping for the columns we want to keep
column_mapping = {
    'admin0Name': 'country_name',  # Keep country name
    'admin0Pcode': 'country_code', # In case you need to map country codes to names
    'numPresentIdpInd': 'internally_displaced_persons',
    'date': 'date',
    'year': 'year',
    'month': 'month'
    
}

# List of columns to keep (everything else will be dropped)
columns_to_keep = list(column_mapping.keys())

# Keep only the columns we need
migration_data = migration_data[columns_to_keep]
# Rename the columns
migration_data.rename(columns=column_mapping, inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_14484\233597153.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  migration_data.rename(columns=column_mapping, inplace=True)

In [7]:
migration_data

,country_name,country_code,internally_displaced_persons,date,year,month
0,Afghanistan,AFG,246362,2017-03-30,2017,3
1,Afghanistan,AFG,945182,2017-06-30,2017,6
2,Afghanistan,AFG,1728157,2017-12-31,2017,12
3,Afghanistan,AFG,1843833,2018-03-30,2018,3
4,Afghanistan,AFG,1866925,2018-06-30,2018,6
...,...,...,...,...,...,...
71948,Zimbabwe,ZWE,150,2024-12-31,2024,12
71949,Zimbabwe,ZWE,4569,2024-12-31,2024,12
71950,Zimbabwe,ZWE,841,2024-12-31,2024,12
71951,Zimbabwe,ZWE,1222,2024-12-31,2024,12
71952,Zimbabwe,ZWE,955,2024-12-31,2024,12

In [8]:
total_idps_per_month = migration_data[['year', 'month', 'country_name', 'internally_displaced_persons']].groupby(['year', 'month', 'country_name']).sum().reset_index()

In [9]:
len(total_idps_per_month) #still very low number. maybe increase countries?

976

In [10]:
# view and define emdat_cc_countries_expanded
file_path = 'data/climate_catastrophes/emdat_full.xlsx'
emdat_cc_expanded = pd.read_excel(file_path) 
emdat_cc_expanded

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,2009-0595-IND,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,GLIDE:CW-2010-000013,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,71.563596,"[{""adm1_code"":1489,""adm1_name"":""Delhi""},{""adm1...",2010-08-04,2023-09-25
1,2010-0002-TJK,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,GLIDE:EQ-2010-000001,NaN,TJK,...,NaN,NaN,NaN,NaN,1500.0,2096.0,71.563596,"[{""adm2_code"":37581,""adm2_name"":""Vanchskiy""}]",2010-02-03,2023-09-25
2,2010-0003-SLB,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,USGS:usp000h5np,NaN,SLB,...,NaN,NaN,NaN,NaN,NaN,NaN,71.563596,"[{""adm2_code"":25652,""adm2_name"":""Administrativ...",2014-05-12,2023-09-25
3,2010-0009-BDI,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,BDI,...,NaN,NaN,NaN,NaN,NaN,NaN,71.563596,"[{""adm2_code"":40589,""adm2_name"":""Mutimbuzi""}]",2010-03-25,2023-09-25
4,2010-0012-PAK,No,nat-hyd-mmw-lan,Natural,Hydrological,Mass movement (wet),Landslide (wet),GLIDE:LS-2010-000004,NaN,PAK,...,NaN,NaN,NaN,NaN,18000.0,25152.0,71.563596,"[{""adm2_code"":40421,""adm2_name"":""Administrativ...",2014-05-12,2023-09-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5907,2025-0152-MDG,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,GLIDE:TC-2025-000025,Tropical storm 'Honde',MDG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-04,2025-03-11
5908,2025-0158-MDG,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,GLIDE:TC-2025-000027,Tropical cyclone 'Jude',MDG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-11,2025-03-19
5909,2025-0158-MOZ,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,GLIDE:TC-2025-000027,Tropical cyclone 'Jude',MOZ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-11,2025-03-19
5910,2025-0158-MWI,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,GLIDE:TC-2025-000027,Tropical cyclone 'Jude',MWI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-13,2025-03-19
5911,2025-9122-SOM,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,SOM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-02-26,2025-03-05

In [11]:
# Step 3: Create a list of countries to filter by
target_countries = total_idps_per_month['country_name'].unique().tolist()

# Step 4: Filter for only those countries
emdat_cc_expanded = emdat_cc_expanded[emdat_cc_expanded['Country'].isin(target_countries)]

In [12]:
climate_catastrophes_data_subset = emdat_cc_expanded[['Country', 'Start Year', 'Start Month', 'End Year', 'End Month',  'Disaster Type', 'CPI', 'Total Affected']]
climate_catastrophes_data_subset["End Year"] = climate_catastrophes_data_subset["End Year"].fillna(climate_catastrophes_data_subset["Start Year"])
climate_catastrophes_data_subset["End Month"] = climate_catastrophes_data_subset["End Month"].fillna(climate_catastrophes_data_subset["Start Month"])

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_14484\3030979710.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  climate_catastrophes_data_subset["End Year"] = climate_catastrophes_data_subset["End Year"].fillna(climate_catastrophes_data_subset["Start Year"])
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_14484\3030979710.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  climate_catastrophes_data_subset["End Month"] = climate_catastrophes_data_subset["End Month"].fillna(climate_catastrophes_data_subset["Start Month"])

In [13]:
climate_catastrophes_data_subset

,Country,Start Year,Start Month,End Year,End Month,Disaster Type,CPI,Total Affected
3,Burundi,2010,1.0,2010,1.0,Flood,71.563596,1000.0
4,Pakistan,2010,1.0,2010,1.0,Mass movement (wet),71.563596,26700.0
5,Haiti,2010,1.0,2010,1.0,Earthquake,71.563596,3700000.0
11,Bolivia (Plurinational State of),2010,1.0,2010,1.0,Flood,71.563596,227860.0
12,Indonesia,2010,1.0,2010,1.0,Flood,71.563596,28500.0
...,...,...,...,...,...,...,...,...
5907,Madagascar,2025,2.0,2025,3.0,Storm,NaN,50254.0
5908,Madagascar,2025,3.0,2025,3.0,Storm,NaN,4101.0
5909,Mozambique,2025,3.0,2025,3.0,Storm,NaN,385135.0
5910,Malawi,2025,3.0,2025,3.0,Storm,NaN,NaN
5911,Somalia,2025,1.0,2025,1.0,Drought,NaN,4400000.0

In [14]:
expanded_rows = []
for _, row in climate_catastrophes_data_subset.iterrows():
    for year in range(row["Start Year"], row["End Year"] + 1):  # Iterate through years
        # Handle potential NaN values in Start Month and End Month and ensure values are integers
        start_month = (
            int(row["Start Month"]) if year == row["Start Year"] and not pd.isna(row["Start Month"]) else 1
        )
        end_month = (
            int(row["End Month"]) if year == row["End Year"] and not pd.isna(row["End Month"]) else 12
        )
        
        # Iterate through months and create the expanded rows
        for m in range(start_month, end_month + 1):
            new_row = row.copy()
            new_row["month"] = m  # Assign the month
            new_row["year"] = year  # Assign the correct year
            expanded_rows.append(new_row)

In [15]:
climate_catastrophes_data = pd.DataFrame(expanded_rows)

In [16]:
climate_catastrophes_data.head(10)

,Country,Start Year,Start Month,End Year,End Month,Disaster Type,CPI,Total Affected,month,year
3,Burundi,2010,1.0,2010,1.0,Flood,71.563596,1000.0,1,2010
4,Pakistan,2010,1.0,2010,1.0,Mass movement (wet),71.563596,26700.0,1,2010
5,Haiti,2010,1.0,2010,1.0,Earthquake,71.563596,3700000.0,1,2010
11,Bolivia (Plurinational State of),2010,1.0,2010,1.0,Flood,71.563596,227860.0,1,2010
12,Indonesia,2010,1.0,2010,1.0,Flood,71.563596,28500.0,1,2010
17,Indonesia,2010,1.0,2010,1.0,Flood,71.563596,355.0,1,2010
21,Afghanistan,2010,2.0,2010,2.0,Mass movement (wet),71.563596,130.0,2,2010
27,Pakistan,2010,2.0,2010,2.0,Flood,71.563596,NaN,2,2010
29,Ecuador,2010,1.0,2010,2.0,Flood,71.563596,500.0,1,2010
29,Ecuador,2010,1.0,2010,2.0,Flood,71.563596,500.0,2,2010

In [17]:
total_idps_per_month

     year  month          country_name  internally_displaced_persons
0    2010      6                 Sudan                         30933
1    2010     11                 Haiti                       2137764
2    2011      1                 Haiti                       1612754
3    2011      2                 Sudan                         98298
4    2011      3                 Haiti                       1360988
..    ...    ...                   ...                           ...
971  2025      1               Lebanon                       1333317
972  2025      1                 Sudan                      69461010
973  2025      2               Lebanon                       1236267
974  2025      2  Syrian Arab Republic                      20983938
975  2025      3               Lebanon                        854088

[976 rows x 4 columns]

In [18]:
# Step 4: Merge with emdat_cc_countries_expanded using the 'month', 'year', and 'Country' columns
merged_df = pd.merge(
    total_idps_per_month,
    climate_catastrophes_data,  # This is your climate data
    left_on=['year', 'month', 'country_name'],
    right_on=['year', 'month', 'Country'],
    how='left'          # Keep all climate data rows, even without IDP data
)
merged_df

,year,month,country_name,internally_displaced_persons,Country,Start Year,Start Month,End Year,End Month,Disaster Type,CPI,Total Affected
0,2010,6,Sudan,30933,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,11,Haiti,2137764,Haiti,2010.0,10.0,2011.0,12.0,Epidemic,71.563596,513997.0
2,2010,11,Haiti,2137764,Haiti,2010.0,11.0,2010.0,11.0,Storm,71.563596,5020.0
3,2011,1,Haiti,1612754,Haiti,2010.0,10.0,2011.0,12.0,Epidemic,71.563596,513997.0
4,2011,2,Sudan,98298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1139,2025,1,Lebanon,1333317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1140,2025,1,Sudan,69461010,Sudan,2024.0,8.0,2025.0,3.0,Epidemic,NaN,57447.0
1141,2025,2,Lebanon,1236267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1142,2025,2,Syrian Arab Republic,20983938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1143,2025,3,Lebanon,854088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#drop 'Country' column

merged_df.drop(columns=['Country'], inplace=True)

In [21]:
merged_df[merged_df['country_name'] == 'Sudan']

,year,month,country_name,internally_displaced_persons,Start Year,Start Month,End Year,End Month,Disaster Type,CPI,Total Affected
0,2010,6,Sudan,30933,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011,2,Sudan,98298,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2011,3,Sudan,268848,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2011,9,Sudan,1207221,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2011,10,Sudan,1395840,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1121,2024,9,Sudan,65306238,2024.0,8.0,2025.0,3.0,Epidemic,NaN,57447.0
1124,2024,10,Sudan,65803608,2024.0,8.0,2025.0,3.0,Epidemic,NaN,57447.0
1129,2024,11,Sudan,67641186,2024.0,8.0,2025.0,3.0,Epidemic,NaN,57447.0
1135,2024,12,Sudan,103837026,2024.0,8.0,2025.0,3.0,Epidemic,NaN,57447.0
1140,2025,1,Sudan,69461010,2024.0,8.0,2025.0,3.0,Epidemic,NaN,57447.0

In [22]:
#count NAs per column
na_counts = merged_df.isna().sum()
na_counts

year                              0
month                             0
country_name                      0
internally_displaced_persons      0
Start Year                      589
Start Month                     659
End Year                        589
End Month                       596
Disaster Type                   589
CPI                             617
Total Affected                  618
dtype: int64

In [23]:
# get unique values in the country_name with missingmess in CPI

missing_cpi = merged_df[merged_df['CPI'].isna()]['country_name'].unique()
missing_cpi
# we have some missingness in CPI, check if we can find a solution for this

array(['Sudan', 'Pakistan', 'Haiti', 'Philippines (the)', 'Mali',
       'South Sudan', 'Iraq', 'Vanuatu', 'Nigeria', 'Yemen', 'Nepal',
       'Burundi', 'Libya', 'Cameroon', 'Fiji', 'Ecuador',
       'Papua New Guinea', 'Democratic Republic of the Congo',
       'Afghanistan', 'Peru', 'Somalia', 'Dominica', 'Sri lanka',
       'Ethiopia', 'Central African Republic', 'Chad',
       'Bolivia (Plurinational State of)', 'Mongolia',
       'Democratic Republic of The Congo', 'Burkina Faso', 'Mozambique',
       'Bahamas (the)', 'Niger', 'El Salvador', 'Zimbabwe',
       'Republic of Armenia', 'Ukraine', 'Djibouti', 'Uganda', 'Lebanon',
       'Benin', 'Grenada', 'Saint Vincent and the Grenadines', 'Malawi',
       'Zambia', 'Syrian Arab Republic'], dtype=object)

In [24]:
# save it to an csv file
merged_df.to_csv('data/merged_climate_iom_data.csv', index=False)